<h1 ng-show="errorMessage">{{error}}</h1>

<div class="center-block" id="sidebar-wrapper">
  <div id="welcome">Welcome, {{user.name}}</div>
  <div class="panel panel-default">
    <div class="panel-body">
      Slider
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      Slider
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      Slider
    </div>
  </div>
  <button class="center-block btn btn-default">
    Submit
  </button>
  <div class="btn-group btn-group-justified" role="group" id="buttonGroup">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Edit Profile</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Chat</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default" ng-click="logout()">LogOut</button>
    </div>
  </div>
</div>
<div class="pull-right" id="profileMap"></div>
