<div class="center-block" id="sidebar-wrapper">
  <div id="welcome">Welcome, {{user.name}}</div>
  <div class="panel panel-default">
    <div class="panel-body">
      Slider
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      Slider
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      Slider
    </div>
  </div>
  <button class="center-block btn btn-default">
    Submit
  </button>
  <button type="button" class="btn btn-default btn-lg" id="chat">
  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
</button>
</div>
<div class="pull-right" id="profileMap"></div>
