<nav class="navbar calcite-navbar navbar-fixed-top calcite-text-light calcite-bg-dark calcite-bgcolor-dark-blue">

    <div class="navbar-header">
        <a class="navbar-brand" role="button" id="calciteToggleNavbar" aria-haspopup="true">
            <span><img src="./stylesheets/globalXSmall.png" id="toplogo" alt="" /></span>
        </a>
    </div>

    <div class="calcite-title calcite-overflow-hidden">
        <span class="calcite-title-main">Entente</span>
        <span class="calcite-title-divider hidden-xs"></span>
        <span class="calcite-title-sub hidden-xs"></span>
    </div>

    <ul class="calcite-nav nav navbar-nav float-sm-right">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/#/">HOME</a>
            </li>


        </ul>


    </ul>
</nav>
<div class="claro">
  <div class="box" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:true, design:'headline'">
    <div id="profileMap" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'">
      <div id="profileSearch"></div>
    </div>
    <div id="leftPane" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left'">
      <div data-dojo-type="dijit/layout/AccordionContainer">
        <div data-dojo-type="dijit/layout/ContentPane" id="legendPane" data-dojo-props="title:'Legend', selected:true">
          <div id="toggle" style="padding: 2px 2px;"></div>
          <div id="legendDiv"></div>
        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="title:'Profile'">
          <span style="padding:10px 0;">Welcome, {{user.name}}</span>
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="questions-text">Warming Climate</p>
              <md-slider flex md-discrete aria-label="rating" tick-interval="1" ng-model="ratings.climate" step="1" min="1" max="10">
              </md-slider>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="questions-text">Protecting Immigration Rights</p>
              <md-slider flex md-discrete aria-label="rating" tick-interval="1" ng-model="ratings.immigration" step="1" min="1" max="10">
              </md-slider>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="questions-text">Protecting Marriage Equality</p>
              <md-slider flex md-discrete aria-label="rating" tick-interval="1" ng-model="ratings.marriage" step="1" min="1" max="10">
              </md-slider>
            </div>
          </div>
          <div class="btn-group btn-group-justified" role="group" id="buttonGroup">
            <div class="btn-group" role="group">
              <button type="button" ng-click="showme = !showme" class="btn btn-default">Chat</button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="logout()">LogOut</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="showme" class="chat-container">
      <socket-directive></socket-directive>
  </div>



</div>
